titulo {color: rgb(0, 255, 221)}
color: pink;
.titulo {color: rgb(0, 217, 255); font-size:80px}
.subtitulo {color: rgb(132, 0, 255); font-size:30px}
body {background: rgb(236, 12, 12);}
.titulo {color: blue; font-size:80px}
.subtitulo {color: red; font-size:30px}
body {background: gray;}
strong {color:#00FF00;}